  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
  }
  
  header {
      background-color: #0797fe;
      color: #fff;
      padding: 20px;
      text-align: center;
  }
  
  main {
      padding: 20px;
  }
  
  h2 {
      text-align: center;
      color: black;
      font-size: 28px;
      margin-bottom: auto;
  }
  
  h3 {
      text-align: center;
  }
  
  h1 {
      text-align: center;
  }
  
  p {
      color: black;
  }
  
  pre {
      font-size: 18px;
      text-align: center;
      color: green;
  }
  
  footer {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
  }
  
  .container {
      width: 100%;
      align-items: center;
      justify-content: center;
  }
  
  .code1 {
      border: 1px solid black;
      width: fit-content;
      display: flex;
  }
  
  .container {
      text-align: center;
  }
  
  h2 {
      font-size: 24px;
      color: #333;
  }
  
  .contact-info {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .contact-item {
      margin: 10px;
      text-align: center;
  }
  
  .contact-item i {
      font-size: 20px;
      margin-bottom: 5px;
  }
  
  .contact-item p {
      font-size: 14px;
  }
  
  .contact-item a {
      text-decoration: none;
      color: #333;
  }
  
  .contact-item a:hover {
      text-decoration: underline;
  }